.TR{
    display: flex;
    background-color: rgb(15, 15, 15);
    flex-direction: row;
    justify-content: space-between;
    height: 7vh;
}

.Login{
    background-color: transparent;
    color: white;
    height: 60%;
    width: 5%;
    margin: 1%;
    border: none;
    font-size: medium;
    font-weight: 500;
}
.Title{
    color: aliceblue;
    padding-left: 1%;
    
}